{
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "ecmaVersion": 6,
    "project": "./tsconfig.json",
    "sourceType": "module",
    "ecmaFeatures": {
      "jsx": true,
      "useJSXTextNode": true
    }
  },
  "plugins": ["@typescript-eslint", "react"],
  "rules": {
    "new-cap": 0,
    "strict": 0,
    "no-underscore-dangle": 0,
    "no-use-before-define": 0,
    "no-console": 0,
    "react/jsx-no-undef": 1,
    "react/jsx-uses-react": 1,
    "react/jsx-uses-vars": 1,
    "react/jsx-no-duplicate-props": 0,
    "react/jsx-pascal-case": 1,
    "no-unused-vars": "off",
    "@typescript-eslint/no-var-requires": 0,
    "@typescript-eslint/no-use-before-define": ["error",{"functions":  false, "variables":  false}],
    "@typescript-eslint/camelcase": 1,
    "@typescript-eslint/explicit-member-accessibility":  "error",
    "@typescript-eslint/explicit-function-return-type": ["error", { "allowExpressions": true }]
  }
}